html{
    background-color: rgb(255, 0, 85);
}
*{
    border:solid 1px white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.titulo h1{
    color: white;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 8rem;
}

.nav a{
    color: white;
}

.nav ul